{% extends 'base.html' %}
{% load static %}

{% block title %}Home{% endblock %}

{% block content %}
<link rel="stylesheet" href="{% static 'css/base.css' %}">
<div class="main-content">
    
    <div class="paragraph">
        <h1>Emmanuel Jaen</h1>
        <p>Passionate and proficient BSIT student specializing in database management,</p>
        <p>seeking an internship or entry-level position to leverage my web development skills and database expertise.</p>
        <p>Enthusiastic about creating efficient and user-friendly websites.</p>
    </div>
    <div class="image-container">
        <img src="{% static 'images/image-profile.png' %}" alt="Profile Image" class="base-image">
    </div>
    <div class="logo-container">
        <a href="https://www.facebook.com/emmanuel.jaen.773" target="_blank">
            <img src="{% static 'images/facebook (1).png' %}" alt="Facebook Logo" class="logo">
        </a>
        <a href="https://www.instagram.com/emman.jaen/" target="_blank">
            <img src="{% static 'images/social.png' %}" alt="Instagram Logo" class="logo">
        </a>
        <a href="https://discord.com" target="_blank">
            <img src="{% static 'images/discord (1).png' %}" alt="Discord Logo" class="logo">
        </a>
        <a href="https://github.com/harlequin10" target="_blank">
            <img src="{% static 'images/github (1).png' %}" alt="GitHub Logo" class="logo">
        </a>
    </div>
</div>
{% endblock %}
